<%- include('../partials/header', {title: title}) %>

<div class="container">
    <div class="row mb-3">
        <h1><%= title %></h1>
    </div>
    <div class="row">
        <ul>
            <% products.forEach(product => { %>
                <li><a href="/products/<%= product.id %>"><%= product.name %></a></li>
            <% }); %>
        </ul>
    </div>
</div>
    
    

<%- include('../partials/footer') %> 